/* ---- Start General ---- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	--dark: #333333;
	--dark-light: #666666;
	--light: #F8F8F8;
	--white: #ffffff;
	--primary: #0077FF;
	--primary-dark: #00489A;
	--primary-light: #79B2F2;
}
* {
	font-family: "Work Sans", serif;
	color: var(--dark);
	font-size: 18px;
}
/* Start Button */
button {
	background-color: var(--primary);
	color: var(--white);
	border: none;
	border-radius: 50px;
	padding: 13.5px 31.5px;
	cursor: pointer;
	border: solid 2px var(--primary);
}
button:hover {
	opacity: 0.5;
}
button.secondary {
	background-color: var(--white);
	color: var(--primary);
	border: solid 2px var(--primary);
}
/* End Button */
h1 {
	font-size: 70px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 25px;
	font-weight: 600;
}
h4 {
	font-size: 20px;
	font-weight: 600;
	color: var(--primary);
	text-transform: uppercase;
}
/* ---- End General ---- */

/* ---- Start Navbar ---- */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}
.menu {
	display: flex;
	align-items: center;
}
.menu-voice {
	display: flex;
	margin-right: 50px;
}
.menu-voice li {
	margin-right: 15px;
	list-style: none;
	font-weight: 600;
}
.menu-voice li a {
	text-decoration: none;
}
.menu-voice li a:hover {
	color: var(--primary);
}
.close-menu {
	display: none;
	font-size: 14px;
	background-color: red;
	border: solid 2px red;
	margin-top: 50px;
}
#toggle {
	display: none;
	cursor: pointer;
}
@media (max-width: 992px) {
	.menu {
		display: none;
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: white;
		top: 0;
		text-align: center;
		flex-direction: column;
	}
	.menu-voice {
		flex-direction: column;
		margin-right: 0px;
		padding-left: 0px;
		padding-top: 50px;
	}
	.menu-voice li {
		padding: 15px;
	}
	#toggle,
	.close-menu {
		display: block;
	}
}
/* ---- End Navbar ---- */

/* ---- Start Hero ---- */
.hero {
	padding: 60px 50px;
	display: flex;
	align-items: center;
}
.hero .title,
.hero .title span {
	font-size: 60px;
	font-weight: 700;
}
.hero .title span {
	color: var(--primary);
}
@media (max-width: 992px) {
	.hero {
		flex-direction: column-reverse;
		text-align: center;
		padding: 30px 0px 60px 0px;
	}
}
/* ---- End Hero ---- */

/* ---- Start Tools ---- */
.tools {
	background-color: var(--light);
	padding: 20px 0px;
	display: flex;
}
.tools img {
	width: 100%;
	margin: 10px 0px;
}
@media (max-width: 992px) {
	.tools {
		flex-direction: column;
		align-items: center;
	}
	.tools img {
		max-width: 200px;
	}
}
/* ---- End Tools ---- */

/* ---- Start About ---- */
.about {
	padding: 60px 50px;
	display: flex;
	align-items: center;
}
.about > div {
	padding-left: 30px;
}
.about .title,
.about .title span {
	font-weight: 700;
}
.about .title span {
	font-size: 50px;
	color: var(--primary);
}
.bars-title {
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}
.single-bar {
	margin: 10px 0px;
}
.bar {
	background-color: #EEEEEE;
	width: 100%;
	height: 17px;
	border-radius: 10px;
	margin: 5px 0px 20px 0px;
}
.bar-progress {
	background-color: var(--primary);
	height: 17px;
	border-radius: 10px;
}
@media (max-width: 992px) {
	.about {
		flex-direction: column;
		text-align: center;
		padding: 60px 0px;
	}
	.about > div {
		padding-right: 30px;
	}
}
/* ---- End About ---- */

/* ---- Start Services ---- */
.services {
	padding: 60px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.services .title,
.services .title span {
	font-weight: 700;
}
.services .title span {
	font-size: 50px;
	color: var(--primary);
}
.services-block {
	display: flex;
}
.services-single-block {
	border-radius: 10px;
	padding: 20px;
	text-align: left;
	margin: 0px 10px;
}
.services-single-block.blue {
	background-color: var(--primary);
}
.services-single-block.blue h3,
.services-single-block.blue p,
.services-single-block.blue a {
	color: var(--white);
	text-decoration: none;
}
.services-single-block.white {
	border: solid 1px var(--dark-light);
}
.services-single-block.white a {
	color: var(--primary);
	text-decoration: none;
}
.services-single-block a:hover {
	opacity: 0.5;
}
@media (max-width: 992px) {
	.services-block {
		flex-direction: column;
	}
	.services-single-block {
		margin: 10px 0px;
	}
}
/* ---- End Services ---- */

/* ---- Start Services ---- */
.milestones {
	background-color: var(--primary);
	color: var(--white);
	padding: 60px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.milestones h4,
.milestones p {
	color: var(--white);
}
.milestones .title {
	font-weight: 700;
	color: var(--white);
}
.milestones-block {
	display: flex;
}
.milestones-single-block {
	background-color: var(--white);
	border-radius: 10px;
	padding: 20px;
	margin: 0px 10px;
}
.milestones-single-block h2 {
	margin: 0px;
}
.milestones-single-block h4 {
	margin: 0px;
	color: var(--dark);
	text-transform: none;
}
@media (max-width: 992px) {
	.milestones-block {
		flex-direction: column;
	}
	.milestones-single-block {
		margin: 10px 0px;
	}
}
/* ---- End Services ---- */

/* ---- Start Projects ---- */
.projects {
	padding: 60px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.projects .title {
	font-weight: 700;
}
.projects-img {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.projects-img img {
	width: 100%;
}
@media (max-width: 992px) {
	.projects-img {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 768px) {
	.projects-img {
		grid-template-columns: 1fr;
	}
}
/* ---- End Projects ---- */

/* ---- Start Contact ---- */
.contact {
	background-color: var(--primary);
	color: var(--white);
	padding: 60px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.contact h4 {
	color: var(--white);
}
.contact .title {
	font-weight: 700;
	color: var(--white);
}
.contact-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.contact-box {
	background-color: var(--white);
	color: var(--dark);
	padding: 20px;
	border-radius: 10px;
}
@media (max-width: 992px) {
	.contact-grid {
		grid-template-columns: 1fr;
	}
}
input,
textarea {
	padding: 10px;
	border-radius: 10px;
	border: none;
	margin: 10px 0px;
	width: 80%;
}
/* ---- End Contact ---- */
